.container {
  /*  */
 background-color:rgba(245, 245, 220, 0.76) ;
  position: relative;

 padding: 2rem;
  height: 100vh;
   box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5);
}

.imageContainer {
  display: flex;
   align-items: center;
  justify-content: center;
  
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}
.heading {
  font-size: 2rem;
  font-weight: bold;
 text-align: center;
  margin-top: 3rem;
  position: absolute;
 margin-left: 31rem;
background: linear-gradient(-360deg, rgba(0, 0, 0, 0.801), #cca95dfd);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.image {
  scroll-snap-align: start;
  width: 90vw;
  height: 60vh; /* Adjust as needed */
  object-fit: auto;
  display: none;
  margin-top: 12rem;
  border-radius: 2rem;
  
}

.active {
  display: block;
}

.buttons {
  position: absolute;
  top: 5.3rem; /* Adjust as needed */
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  z-index: 1;
  font-weight: 700;

}

.button {
  padding: 0.75rem 1.5rem; /* Increased padding */
  margin-top: 5rem;
  margin-bottom: 4rem;
  background-color: rgba(0, 0, 0, 0.486) !important;
  color: #cca95dfd;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover {
    background-color: #555;
    
    transform: none;
}

.activeButton {
    background-color: #cca95dbe !important ;
    box-shadow: 0.3rem 0.2rem 0.3rem rgba(0, 0, 0, 0.596) !important;
    color: black;
    font-weight: 400;
    position: relative;
    top: -0.7rem;
    transition: top 0.6s ease-in;
}
@media screen and (max-width: 768px) {
  .buttons {
    top: 8.5rem; /* Adjust the top position */
  }

  .button {
    padding: 0.5rem 0rem; /* Decreased padding */
    margin-top: 2rem; /* Adjust the margin */
    margin-bottom: 2rem; /* Adjust the margin */
    font-size: 0.8rem; /* Decreased font size */
  }

  .activeButton {
    top: -0.5rem; /* Adjust the top position */
  }
   .heading {
    font-size: 1.2rem; /* Adjust font size for smaller screens */
    margin-left: 50%; /* Center the heading on smaller screens */
    transform: translateX(-50%);
  }
}
