
.sliderContainerr {
border-radius: 0.5rem;
height: 18rem;
margin-top: -10rem;
left: -2rem;

}
.immg{
    
    box-shadow: 0.5rem 0.3rem 0.3rem  rgba(204, 169, 93, 0.445);
  
}

.slider__btnPp {
  z-index: 10;
  cursor: pointer;
  margin-top: -6.2rem;
  
  
}
.slider__btnNn {
  z-index: 10;
  cursor: pointer;
  margin-top: -0.5rem;
  margin-right: -3rem;
  
}
.imageContainerr{
    width: auto;
}
@media (max-width: 727px) {
  .slider__btnNn,
  .slider__btnPp {
    font-size: 0.2rem;

  }
  
  

  .slider__btnNn {
    z-index: 30;
    right:0rem !important;
  }

  .slider__btnPp {
    z-index: 30;
    top: 26.5rem !important;
    left: 0rem !important;
  }
}
 
@media (max-width: 1273px) {
  .slider__btnNn {
    font-size: 0.6rem;
   right: -8rem !important;
  }
  
}

@media only screen and (max-width: 967px) {
  .immg {
    margin-left: 2rem !important;
    width: 40rem !important;
  }
  .slider__btnNn{
    right: 4rem !important;
  }

}
@media only screen and (max-width: 527px) {
  .immg {
    margin-left: 4rem !important;
    width: 30rem !important;
   
  }
  .slider__btnNn{
    right: 0rem !important;
  }
}
@media (min-width: 1524px) and (max-width: 1960px) {
  .sliderContainerr {
    height: 16rem; /* Adjust height as needed */
  left: 1rem !important;
  }

  

  .slider__btnNn {
    font-size: 0.7rem; /* Adjust font size as needed */
    margin-right: auto !important; /* Adjust margin as needed */
  }
  .slider__btnPp{
    margin-left: 28rem !important;
    margin-top: -4.8rem;
  }
}
@media (min-width: 1970px) and (max-width: 2880px) {
  .sliderContainerr {
    height: 16rem; /* Adjust height as needed */
  left: 1rem !important;
  }



  .slider__btnNn {
    font-size: 0.7rem; /* Adjust font size as needed */
    margin-right: -20.5rem !important; /* Adjust margin as needed */
  }
  .slider__btnPp{
    margin-left: 28.5rem !important;
    margin-top: -5rem;
  }}
