.container{
    padding: 1rem;
}
.customPack{
    margin-top: -33rem;
    margin-right: 16rem;
}
@media only screen and (max-width: 768px) {
.container{
    margin-top: 230rem;
}
}
@media (min-width: 1500px) and (max-width: 2480px) {
    .container{
    margin-top: 10rem;
    margin-right: 20rem !important;}
}