
.container{
     background: linear-gradient(to top left, #cca95dc5, rgba(0, 0, 0, 0.8)),url("../assets/images/c.jpg");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}


.loader {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  display: block;
  margin-left: 6rem;
  position: relative;
  color: #FFF;
  box-sizing: border-box;
  animation: animloader 1s linear infinite alternate;
}

@keyframes animloader {
  0% {
    box-shadow: -38px -12px ,  -14px 0,  14px 0, 38px 0;
  }
  33% {
    box-shadow: -38px 0px, -14px -12px,  14px 0, 38px 0;
  }
  66% {
    box-shadow: -38px 0px , -14px 0, 14px -12px, 38px 0;
  }
  100% {
    box-shadow: -38px 0 , -14px 0, 14px 0 , 38px -12px;
  }
}
